# Security

## Sensitive Files

DO NOT read or modify:

DO NOT read or modify:
-   .env files
-   */config/secrets.*
-   */*.pem
-   Any file containing API keys, tokens, or credentials
-   .venv/
-   venv/
-   venv/*
-   node_modules/
-   node_modules/*


## Security Practices

-   Never commit sensitive files
-   Use environment variables for secrets
-   Keep credentials out of logs and output

we are in wondows
fast api app

to run the app ./start.bat

when you wsnt run alembic use
.venv/Script/activate
python -m alembic revision --autogenerate -m "add_lang_field_to_pictogram"
